<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} - Highr Admin</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta content="" name="description">
        <meta content="" name="author">
        {% stylesheets
            '@AdminBundle/Resources/global/plugins/font-awesome/css/font-awesome.min.css'
            '@AdminBundle/Resources/global/plugins/simple-line-icons/simple-line-icons.min.css'
            '@AdminBundle/Resources/global/plugins/bootstrap/css/bootstrap.min.css'
            '@AdminBundle/Resources/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css'
            '@AdminBundle/Resources/global/plugins/uniform/css/uniform.default.css'
            '@AdminBundle/Resources/global/admin/pages/css/tasks.css'
            '@AdminBundle/Resources/global/css/components.css'
            '@AdminBundle/Resources/global/css/plugins.css'
            '@AdminBundle/Resources/global/admin/layout3/css/layout.css'
            '@AdminBundle/Resources/global/admin/layout3/css/themes/default.css'
            '@AdminBundle/Resources/global/admin/layout3/css/custom.css'
            '@AdminBundle/Resources/global/plugins/font-awesome/css/font-awesome.min.css'
            '@AdminBundle/Resources/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css'
        %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="favicon.ico">
    </head>
    <body>
        <div class="page-header">
            <div class="page-header-top">
                <div class="container">
                    <div class="page-logo">
                        <a href="index.html">
                            <img src="../../assets/admin/layout3/img/logo-default.png" alt="logo" class="logo-default">
                        </a>
                    </div>
                    <a href="javascript:;" class="menu-toggler"></a>
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <li><a href="#">Hallo, {{ app.user.username }}</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="page-header-menu">
                <div class="container">
                    <div class="hor-menu hor-menu-light">
                        <ul class="nav navbar-nav">
                            <li class="{% if app.request.get('_route') == 'admin' %}active{% endif %}">
                                <a href="{{ path('admin') }}">Dashboard</a>
                            </li>
                            <li class="{% if app.request.get('_route') == 'company' %}active{% endif %}">
                                <a href="{{ path('company') }}">Unternehmen</a>
                            </li>
                            <li class="{% if app.request.get('_route') == 'candidate' %}active{% endif %}">
                                <a href="{{ path('candidate') }}">Kandidaten</a>
                            </li>
                            <li class="menu-dropdown classic-menu-dropdown
                                {% if app.request.get('_route') == 'benefittype' %}active{% endif %}
                                {% if app.request.get('_route') == 'companycategory' %}active{% endif %}
                                {% if app.request.get('_route') == 'joblevel' %}active{% endif %}
                                {% if app.request.get('_route') == 'skillgroup' %}active{% endif %}
                                {% if app.request.get('_route') == 'skilltype' %}active{% endif %}
                                {% if app.request.get('_route') == 'socialprofiletype' %}active{% endif %}
                            ">
                                <a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;" class="hover-initialized">Weitere</a>
                                <ul class="dropdown-menu pull-left">
                                    <li class=" dropdown-submenu {% if app.request.get('_route') == 'companycategory' %}active{% endif %}"> <a href="{{ path('companycategory') }}">Unternehmenskategorie</a></li>
                                    <li class=" dropdown-submenu {% if app.request.get('_route') == 'benefittype' %}active{% endif %}"> <a href="{{ path('benefittype') }}">Benefit Typ</a></li>
                                    <li class=" dropdown-submenu {% if app.request.get('_route') == 'joblevel' %}active{% endif %}"> <a href="{{ path('joblevel') }}">Job Level</a></li>
                                    <li class=" dropdown-submenu {% if app.request.get('_route') == 'skillgroup' %}active{% endif %}"> <a href="{{ path('skillgroup') }}">Skill Gruppe</a></li>
                                    <li class=" dropdown-submenu {% if app.request.get('_route') == 'skilltype' %}active{% endif %}"> <a href="{{ path('skilltype') }}">Skill Typ</a></li>
                                    <li class=" dropdown-submenu {% if app.request.get('_route') == 'socialprofiletype' %}active{% endif %}"> <a href="{{ path('socialprofiletype') }}">Social Profile Type</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-container">
            <div class="page-head">
                <div class="container">
                    <div class="page-title">
                        <h1>{% block sitename %}missing title{% endblock sitename %}
                            <small>{% block subsitename %}missing sub-title{% endblock subsitename %}</small>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="page-content">
                <div class="container">
                    <ul class="page-breadcrumb breadcrumb hide">
                        <li>
                            <a href="#">Home</a><i class="fa fa-circle"></i>
                        </li>
                        <li class="active">
                            Dashboard
                        </li>
                    </ul>
                    {% block body %}{% endblock %}
                </div>
            </div>
            <div class="page-footer">
                <div class="container">
                    <p>2014 &copy; Highr</p>
                </div>
            </div>
            {%  javascripts
            '@AdminBundle/Resources/global/plugins/jquery.min.js'
            '@AdminBundle/Resources/global/plugins/jquery-migrate.min.js'
            '@AdminBundle/Resources/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js'
            %}
                <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}
            {% javascripts
            '@AdminBundle/Resources/global/plugins/bootstrap/js/bootstrap.min.js'
            '@AdminBundle/Resources/global/plugins/jquery.cokie.min.js'
            '@AdminBundle/Resources/global/plugins/uniform/jquery.uniform.min.js'
            '@AdminBundle/Resources/global/scripts/company.js'
            '@AdminBundle/Resources/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js'
            '@AdminBundle/Resources/global/plugins/datatables/media/js/jquery.dataTables.min.js'
            '@AdminBundle/Resources/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js'
            %}
                <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}

            {% javascripts
            '@AdminBundle/Resources/global/scripts/metronic.js'
            '@AdminBundle/Resources/global/admin/layout3/scripts/layout.js'
            '@AdminBundle/Resources/global/admin/pages/scripts/components-form-tools.js'
            %}
                <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}
        </div>
    </body>
</html>