{% extends 'AdminBundle:Layout:adminbase.html.twig' %}

{% block body -%}
    <h1>Unternehmen editieren</h1>

    <img src="/highr_uploads/{{  company.image }}" alt="Unternehmen Bild" />
    <img src="/highr_uploads/{{  company.logo }}" alt="Unternehmen Logo" />



    {{ form_start(edit_form) }}
        {{ form_row(edit_form._token) }}

        {{ form_row(edit_form.title) }}
        {{ form_row(edit_form.website) }}
        {{ form_row(edit_form.content) }}
        {{ form_row(edit_form.jobElevatorText) }}

        <div class="form-group fileinput-new col-md-12" data-provides="fileinput">
            <div class="col-md-3">
                <label>Bild</label>
            </div>
            <div class="col-md-9">
                <div class="input-group input-large">
                    <div class="form-control uneditable-input span3" data-trigger="fileinput">
                        <i class="fa fa-file fileinput-exists"></i>&nbsp;
                        <span class="fileinput-filename"></span>
                    </div>
                    <span class="input-group-addon btn default btn-file">
                    <span class="fileinput-new">Bild auswählen</span>
                    <span class="fileinput-exists">Ändern</span>
                        <input type="file" id="highr_highrbundle_company_image" name="highr_highrbundle_company[image]">
                    </span>
                    <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput">Entfernen</a>
                </div>
            </div>
        </div>

        <div class="form-group fileinput-new col-md-12" data-provides="fileinput">
            <div class="col-md-3">
                <label>Logo</label>
            </div>
            <div class="col-md-9">
                <div class="input-group input-large">
                    <div class="form-control uneditable-input span3" data-trigger="fileinput">
                        <i class="fa fa-file fileinput-exists"></i>&nbsp;
                        <span class="fileinput-filename"></span>
                    </div>
                    <span class="input-group-addon btn default btn-file">
                    <span class="fileinput-new">Logo auswählen</span>
                    <span class="fileinput-exists">Ändern</span>
                        <input type="file" id="highr_highrbundle_company_image" name="highr_highrbundle_company[logo]">
                    </span>
                    <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput">Entfernen</a>
                </div>
            </div>
        </div>


        {{ form_row(edit_form.headcount) }}
        {{ form_row(edit_form.headcountIt) }}
        {{ form_row(edit_form.averageAge) }}
        {{ form_row(edit_form.kununuPoints) }}

        {{ form_row(edit_form.companyCategories) }}
        {{ form_row(edit_form.skillTypes) }}

        {{ form_row(edit_form.benefitTypes) }}
        <div class="form-group col-md-12">
            <div class="benefitCollection" data-index="1"></div>
            <div class="col-md-3">
                <a href="#" class="addBenefit btn-sm btn grey-cascade">Benefit hinzufügen <li class="fa fa-plus"></li></a>
            </div>
        </div>

        {{ form_row(edit_form.socialProfiles) }}
        <div class="form-group col-md-12">
            <div class="socialProfilesCollection" data-index="1"></div>
            <div class="col-md-3">
                <a href="#" class="addSocialProfile btn-sm btn grey-cascade">Social Profile hinzufügen<li class="fa fa-plus"></li></a>
            </div>
        </div>

        {{ form_row(edit_form.companyAddresses) }}
        <div class="form-group col-md-12">
            <div class="companyAddressesCollection" data-index="1"></div>
            <div class="col-md-3">
                <a href="#" class="addCompanyAddress btn-sm btn grey-cascade">Unternehmensadresse hinzufügen<li class="fa fa-plus"></li></a>
            </div>
        </div>

        {{ form_row(edit_form.submit, { 'label': 'Speichern', 'attr': {'class': 'btn blue'} }) }}

        <a href="{{ path('company') }}" class="btn default">Zurück zur Übersicht</a>

    {{ form_end(edit_form) }}
{% endblock %}
