{% extends 'AdminBundle:Layout:adminbase.html.twig' %}

{% block body -%}
    <h1>Unternehmensliste</h1>
    <div id="sample_2_wrapper" class="dataTables_wrapper no-footer">
        <div class="table-scrollable">
            <table class="table table-striped table-bordered table-hover dataTable no-footer">
                <thead>
                <tr role="row">
                    <th class="sorting">Id</th>
                    <th class="sorting">Name</th>
                    <th class="sorting">Webseite</th>
                    <th class="sorting">Inaktiv</th>
                    <th class="sorting">Anzahl der Mitarbeiter</th>
                    <th class="sorting">Kununu Punkte</th>
                    <th class="sorting">Durchschnittsalter</th>
                    <th class="sorting">Funktionen</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr class="gradeX">
                        <td>{{ entity.id }}</td>
                        <td>{{ entity.title }}</td>
                        <td>{{ entity.website }}</td>
                        <td>{{ entity.disabled }}</td>
                        <td>{{ entity.headcount }}</td>
                        <td>{{ entity.kununuPoints }}</td>
                        <td>{{ entity.averageAge }}</td>
                        <td>
                            <a href="{{ path('company_show', { 'id': entity.id }) }}"
                               class="btn btn-sm green">Anzeigen</a>
                            <a href="{{ path('company_edit', { 'id': entity.id }) }}" class="btn btn-sm yellow">Editieren</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <a href="{{ path('company_new') }}" class="btn blue">Neues Unternehmen hinzufügen</a>
{% endblock %}
