{% extends 'AdminBundle:Layout:adminbase.html.twig' %}

{% block body -%}
    <h1>Unternehmen</h1>

    <div class="static-info">
        <span class="col-md-3 name">ID</span>
        <span class="col-md-9 value">{{ company.id }}</span>
    </div>
    <div class="static-info">
        <span class="col-md-3 name">Name</span>
        <span class="col-md-9 value">{{ company.title }}</span>
    </div>
    <div class="static-info">
        <span class="col-md-3 name">Webseite</span>
        <span class="col-md-9 value">{{ company.website }}</span>
    </div>
    <div class="static-info">
        <span class="col-md-3 name">Anzahl der Mitarbeiter</span>
        <span class="col-md-9 value">{{ company.headcount }}</span>
    </div>
    <div class="static-info">
        <span class="col-md-3 name">Anzahl der IT-Mitarbeiter</span>
        <span class="col-md-9 value">{{ company.headcountit }}</span>
    </div>
    <div class="static-info">
        <span class="col-md-3 name">Kununu Punkte</span>
        <span class="col-md-9 value">{{ company.kununupoints }}</span>
    </div>
    <div class="static-info">
        <span class="col-md-3 name">Durchschnittsalter</span>
        <span class="col-md-9 value">{{ company.averageAge }}</span>
    </div>
    <div class="static-info">
        <span class="col-md-3 name">Text</span>
        <p class="col-md-9 value">{{ company.content }}</p>
    </div>
    <div class="static-info">
        <span class="col-md-3 name">Job-Text</span>
        <p class="col-md-9 value">{{ company.jobElevatorText }}</p>
    </div>
    <div class="static-info">
        <span class="col-md-3 name">Inaktive</span>
        <span class="col-md-9 value">{{ company.disabled }}</span>
    </div>


    <a href="{{ path('company') }}" class="btn btn-sm blue">Zurück zur Übersicht</a>
    <a href="{{ path('company_edit', { 'id': company.id }) }}" class="btn btn-sm yellow">Editieren</a>
    {{ form(delete_form) }}
{% endblock %}
