{% extends 'AdminBundle:Layout:adminbase.html.twig' %}

{% block body -%}
    <h1>BenefitTyp editieren</h1>

    {{ form_start(edit_form) }}
        {{ form_row(edit_form._token) }}

        {{ form_row(edit_form.title) }}

        <div class="form-group fileinput-new col-md-12" data-provides="fileinput">
            <div class="col-md-3">
                <label>Bild</label>
            </div>
            <div class="col-md-9">
                <div class="input-group input-large">
                    <div class="form-control uneditable-input span3" data-trigger="fileinput">
                        <i class="fa fa-file fileinput-exists"></i>&nbsp;
                        <span class="fileinput-filename"></span>
                    </div>
                        <span class="input-group-addon btn default btn-file">
                        <span class="fileinput-new">Bild auswählen</span>
                        <span class="fileinput-exists">Ändern</span>
                            <input type="file" id="highr_highrbundle_benefittype_icon" name="highr_highrbundle_benefittype[icon]">
                        </span>
                    <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput">Entfernen</a>
                </div>
            </div>
        </div>

        {{ form_row(edit_form.submit, { 'label': 'Speichern', 'attr': {'class': 'btn blue'} }) }}

        <a href="{{ path('benefittype') }}" class="btn default">Zurück zur Übersicht</a>

    {{ form_end(edit_form) }}

    {{ form(delete_form) }}
{% endblock %}
