{% extends 'AdminBundle:Layout:adminbase.html.twig' %}

{% block title %}BenifitType{% endblock title %}
{% block sitename %}BenifitType{% endblock sitename %}
{% block subsitename %}List & Edit{% endblock subsitename %}

{% block body -%}
    <h1>BenefitType Liste</h1>

    <div class="dataTables_wrapper no-footer">
        <div class="table-scrollable">
            <table class="table table-striped table-bordered table-hover dataTable no-footer">
                <thead>
                <tr role="row">
                    <th class="sorting">Id</th>
                    <th class="sorting">Name</th>
                    <th class="sorting">Icon</th>
                    <th class="sorting">Funktionen</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr class="gradeX">
                        <td>{{ entity.id }}</td>
                        <td>{{ entity.title }}</td>
                        <td>{{ entity.icon }}</td>
                        <td>
                            <a href="{{ path('benefittype_show', { 'id': entity.id }) }}" class="btn btn-sm green">Anzeigen</a>
                            <a href="{{ path('benefittype_edit', { 'id': entity.id }) }}" class="btn btn-sm yellow">Editieren</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <a href="{{ path('benefittype_new') }}" class="btn blue">Neuen Benefit Typ hinzufügen</a>

{% endblock %}
