{% extends 'AdminBundle:Layout:adminbase.html.twig' %}

{% block body -%}
    <h1>BenefitType creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('benefittype') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
