{% extends 'AdminBundle:Layout:adminbase.html.twig' %}

{% block body -%}
    <h1>BenefitType</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Icon</th>
                <td>{{ entity.icon }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('benefittype') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('benefittype_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
