{% extends 'AdminBundle:Layout:adminbase.html.twig' %}

{% block body -%}
    <h1>JobLevel Liste</h1>

    <div id="sample_2_wrapper" class="dataTables_wrapper no-footer">
        <div class="table-scrollable">
            <table class="table table-striped table-bordered table-hover dataTable no-footer">
                <thead>
                <tr role="row">
                    <th class="sorting">Id</th>
                    <th class="sorting">Name</th>
                    <th class="sorting">Funktionen</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr class="gradeX">
                        <td>{{ entity.id }}</td>
                        <td>{{ entity.title }}</td>
                        <td>
                            <a href="{{ path('joblevel_show', { 'id': entity.id }) }}" class="btn btn-sm green">Anzeigen</a>
                            <a href="{{ path('joblevel_edit', { 'id': entity.id }) }}" class="btn btn-sm yellow">Editieren</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <a href="{{ path('joblevel_new') }}" class="btn blue">Neues Joblevel hinzufügen</a>
{% endblock %}
