{% extends 'AdminBundle:Layout:adminbase.html.twig' %}

{% block body -%}
    <h1>JobLevel</h1>

    <div class="static-info">
        <span class="col-md-3 name">ID</span>
        <span class="col-md-9 value">{{ entity.id }}</span>
    </div>
    <div class="static-info">
        <span class="col-md-3 name">Name</span>
        <span class="col-md-9 value">{{ entity.title }}</span>
    </div>

    <a href="{{ path('joblevel') }}" class="btn btn-sm blue">Zurück zur Übersicht</a>
    <a href="{{ path('joblevel_edit', { 'id': entity.id }) }}" class="btn btn-sm yellow">Editieren</a>
    {{ form(delete_form) }}
{% endblock %}
