{% extends 'AdminBundle:Layout:adminbase.html.twig' %}

{% block body -%}
    <h1>SocialProfileType editieren</h1>

    {{ form_start(edit_form) }}
        {{ form_row(edit_form._token) }}

        {{ form_row(edit_form.title) }}

        {{ form_row(edit_form.submit, { 'label': 'Speichern', 'attr': {'class': 'btn blue'} }) }}

        <a href="{{ path('socialprofiletype') }}" class="btn default">Zurück zur Übersicht</a>
    {{ form_end(edit_form) }}

    {{ form(delete_form) }}
{% endblock %}
