{% extends 'AdminBundle:Layout:adminbase.html.twig' %}

{% block body -%}
    <h1>SocialProfileType anlegen</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}

        {{ form_row(form.submit, { 'label': 'SkillType anlegen', 'attr': {'class': 'btn blue'} }) }}

        <a href="{{ path('socialprofiletype') }}" class="btn default">Zurück zur Übersicht</a>
    {{ form_end(form) }}
{% endblock %}
