{% extends 'HighrBundle:Layout:base.html.twig' %}

{% block body -%}
    Mein Profil 
    <span>{{ user.firstName }}</span>
    <span>{{ user.lastName }}</span>
    <span>{{ user.email }}</span>
{% endblock %}
