{% extends 'AdminBundle:Layout:adminbase.html.twig' %}

{% block body -%}
    <h1>Candidate list</h1>
<div class="table-scrollable">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Birthday</th>
                <th>Nationality</th>
                <th>Aboutme</th>
                <th>Image</th>
                <th>Currentsalary</th>
                <th>Desiredsalary</th>
                <th>Minimumsalary</th>
                <th>Motivation</th>
                <th>Cancelationperiod</th>
                <th>Desiredteamsize</th>
                <th>Sex</th>
                <th>Desirednextlevel</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('candidate_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.birthday %}{{ entity.birthday|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.nationality }}</td>
                <td>{{ entity.aboutMe }}</td>
                <td>{{ entity.image }}</td>
                <td>{{ entity.currentSalary }}</td>
                <td>{{ entity.desiredSalary }}</td>
                <td>{{ entity.minimumSalary }}</td>
                <td>{{ entity.motivation }}</td>
                <td>{{ entity.cancelationPeriod }}</td>
                <td>{{ entity.desiredTeamSize }}</td>
                <td>{{ entity.sex }}</td>
                <td>{{ entity.desiredNextLevel }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('candidate_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('candidate_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

        <ul>
        <li>
            <a href="{{ path('candidate_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
