{% extends 'AdminBundle:Layout:adminbase.html.twig' %}

{% block body -%}
    <h1>Candidate</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ entity.birthday|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Nationality</th>
                <td>{{ entity.nationality }}</td>
            </tr>
            <tr>
                <th>Aboutme</th>
                <td>{{ entity.aboutMe }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ entity.image }}</td>
            </tr>
            <tr>
                <th>Currentsalary</th>
                <td>{{ entity.currentSalary }}</td>
            </tr>
            <tr>
                <th>Desiredsalary</th>
                <td>{{ entity.desiredSalary }}</td>
            </tr>
            <tr>
                <th>Minimumsalary</th>
                <td>{{ entity.minimumSalary }}</td>
            </tr>
            <tr>
                <th>Motivation</th>
                <td>{{ entity.motivation }}</td>
            </tr>
            <tr>
                <th>Cancelationperiod</th>
                <td>{{ entity.cancelationPeriod }}</td>
            </tr>
            <tr>
                <th>Desiredteamsize</th>
                <td>{{ entity.desiredTeamSize }}</td>
            </tr>
            <tr>
                <th>Sex</th>
                <td>{{ entity.sex }}</td>
            </tr>
            <tr>
                <th>Desirednextlevel</th>
                <td>{{ entity.desiredNextLevel }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('candidate') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('candidate_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
