{% extends 'AdminBundle:Layout:adminbase.html.twig' %}

{% block body -%}
    <h1>Unternehmenskategorie anlegen</h1>

    {{ form_start(form) }}
    {{ form_row(form.title) }}

    {{ form_row(form.submit, { 'label': 'Unternehmenskategorie anlegen', 'attr': {'class': 'btn blue'} }) }}

    <a href="{{ path('companycategory') }}" class="btn default">Zurück zur Übersicht</a>
    {{ form_end(form) }}
{% endblock %}
